<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.formssi.fisco.bcos.mapper.MultipartyCalculationTaskMapper">
  <resultMap id="BaseResultMap" type="com.formssi.fisco.bcos.domain.MultipartyCalculationTask">
    <!--@mbg.generated-->
    <!--@Table t_multiparty_calculation_task-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="join_count" jdbcType="INTEGER" property="joinCount" />
    <result column="data_amount" jdbcType="INTEGER" property="dataAmount" />
    <result column="data_source" jdbcType="INTEGER" property="dataSource" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="to_chain_time" jdbcType="TIMESTAMP" property="toChainTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="result_file_path" jdbcType="VARCHAR" property="resultFilePath" />
    <result column="to_chain_status" jdbcType="INTEGER" property="toChainStatus" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="chain_hight" jdbcType="INTEGER" property="chainHight" />
    <result column="desription" jdbcType="VARCHAR" property="desription" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `no`, join_count, data_amount, data_source, data_name, create_user_id, 
    create_user_name, create_time, update_time, finish_time, to_chain_time, `status`, 
    result_file_path, to_chain_status, certificate, chain_hight, desription
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_multiparty_calculation_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_multiparty_calculation_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.formssi.fisco.bcos.domain.MultipartyCalculationTask" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_multiparty_calculation_task (`name`, `no`, join_count, 
      data_amount, data_source, data_name, 
      create_user_id, create_user_name, create_time, 
      update_time, finish_time, to_chain_time, 
      `status`, result_file_path, to_chain_status, 
      certificate, chain_hight, desription
      )
    values (#{name,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{joinCount,jdbcType=INTEGER}, 
      #{dataAmount,jdbcType=INTEGER}, #{dataSource,jdbcType=INTEGER}, #{dataName,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{toChainTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{resultFilePath,jdbcType=VARCHAR}, #{toChainStatus,jdbcType=INTEGER}, 
      #{certificate,jdbcType=VARCHAR}, #{chainHight,jdbcType=INTEGER}, #{desription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.formssi.fisco.bcos.domain.MultipartyCalculationTask" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_multiparty_calculation_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="joinCount != null">
        join_count,
      </if>
      <if test="dataAmount != null">
        data_amount,
      </if>
      <if test="dataSource != null">
        data_source,
      </if>
      <if test="dataName != null">
        data_name,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="toChainTime != null">
        to_chain_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="resultFilePath != null">
        result_file_path,
      </if>
      <if test="toChainStatus != null">
        to_chain_status,
      </if>
      <if test="certificate != null">
        certificate,
      </if>
      <if test="chainHight != null">
        chain_hight,
      </if>
      <if test="desription != null">
        desription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="joinCount != null">
        #{joinCount,jdbcType=INTEGER},
      </if>
      <if test="dataAmount != null">
        #{dataAmount,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null">
        #{dataSource,jdbcType=INTEGER},
      </if>
      <if test="dataName != null">
        #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toChainTime != null">
        #{toChainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="resultFilePath != null">
        #{resultFilePath,jdbcType=VARCHAR},
      </if>
      <if test="toChainStatus != null">
        #{toChainStatus,jdbcType=INTEGER},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="chainHight != null">
        #{chainHight,jdbcType=INTEGER},
      </if>
      <if test="desription != null">
        #{desription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.formssi.fisco.bcos.domain.MultipartyCalculationTask">
    <!--@mbg.generated-->
    update t_multiparty_calculation_task
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        `no` = #{no,jdbcType=VARCHAR},
      </if>
      <if test="joinCount != null">
        join_count = #{joinCount,jdbcType=INTEGER},
      </if>
      <if test="dataAmount != null">
        data_amount = #{dataAmount,jdbcType=INTEGER},
      </if>
      <if test="dataSource != null">
        data_source = #{dataSource,jdbcType=INTEGER},
      </if>
      <if test="dataName != null">
        data_name = #{dataName,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toChainTime != null">
        to_chain_time = #{toChainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="resultFilePath != null">
        result_file_path = #{resultFilePath,jdbcType=VARCHAR},
      </if>
      <if test="toChainStatus != null">
        to_chain_status = #{toChainStatus,jdbcType=INTEGER},
      </if>
      <if test="certificate != null">
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="chainHight != null">
        chain_hight = #{chainHight,jdbcType=INTEGER},
      </if>
      <if test="desription != null">
        desription = #{desription,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.formssi.fisco.bcos.domain.MultipartyCalculationTask">
    <!--@mbg.generated-->
    update t_multiparty_calculation_task
    set `name` = #{name,jdbcType=VARCHAR},
      `no` = #{no,jdbcType=VARCHAR},
      join_count = #{joinCount,jdbcType=INTEGER},
      data_amount = #{dataAmount,jdbcType=INTEGER},
      data_source = #{dataSource,jdbcType=INTEGER},
      data_name = #{dataName,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      to_chain_time = #{toChainTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER},
      result_file_path = #{resultFilePath,jdbcType=VARCHAR},
      to_chain_status = #{toChainStatus,jdbcType=INTEGER},
      certificate = #{certificate,jdbcType=VARCHAR},
      chain_hight = #{chainHight,jdbcType=INTEGER},
      desription = #{desription,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--auto generated by MybatisCodeHelper on 2020-02-26-->
  <select id="findNoByCreateUserIdAndJoinCountAndStatus" resultType="java.lang.String">
    select `no`
    from t_multiparty_calculation_task
    where create_user_id=#{createUserId,jdbcType=INTEGER} and join_count=#{joinCount,jdbcType=INTEGER} and
    `status`=#{status,jdbcType=INTEGER}
  </select>

  <select id="findAllDataByStatus" resultType="com.formssi.fisco.bcos.domain.MultipartyCalculationTask">
select *
    from t_multiparty_calculation_task a
    where a.status = 2 AND a.certificate="" and a.result_file_path !=""
  </select>


</mapper>